button {
    width: 90%;
    padding-block: 24px;
    cursor: pointer;
    font-size: 1.125rem;
    font-family: inherit;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    outline: none;
    background-color: #EAECF0;
    transition: all 200ms ease-in;
}

button:hover {
    border: 1px solid #98A2B3;
    outline: none;
}