header {
    position: relative;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 56px;
}


#profile-img {
    width: 88px;
    height: 88px;
    margin-inline: auto;
    margin-bottom: 24px;
}

#profile-img img{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-size: cover;
}

#slack {
    display: none;
}

