@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 1280px;
  margin-inline: auto;
}

img {
  width: 100%;
  background-repeat: no-repeat;
}

.btn-section {
  text-align: center;
}

.logo-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.git-logo {
  width: 24px;
  height: 24px;
}

.slack-logo {
  width: 46px;
  height: 46px;
  margin-right: 24px;
}